// colors and fonts go here.

// Brand Colours
$black-100: #333333;
$white-100: #ffffff;
$white-200: #f2f2f2;

$grey-200: #FCFBFB;
$grey-300: #828282;
$grey-500: #E0E0E0;
$light-pink: #FEE9DF;
$orange-100: #F56B2A;
$error: red
